

body {
  background-color: #204051;
  width: 100%;
}

.App {
  text-align: center;
  height: 150px;
  width: 50%;
  margin: 4rem auto;
  background-color: #3b6978;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: .5rem;
  
}


.list-item {
  margin: .25rem auto;
  background-color: #709fb0;
}

.todo-form {
  width: 300px;
  margin: 0 auto;
}

@media only screen and (max-width: 1150px) {
  .App {
    width: 75%;
  }
}

@media only screen and (max-width: 727px) {
  
  .App > h2 {
    font-size: 2.5rem;
  }
}


@media only screen and (max-width: 550px) {
  .App {
    width: 90%;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .App {
    height: 200px;
  }
}

@media only screen and (max-width: 350px) {
  .App > h2 {
    font-size: 2rem;
  }
  .App {
    height: 180px;
  }

  
}

